name = "CTDirect"
uuid = "790bbbee-bee9-49ee-8912-a9de031322d5"
authors = ["Olivier Cots <olivier.cots@enseeiht.fr>"]
version = "0.13.0"

[deps]
ADNLPModels = "54578032-b7ea-4c30-94aa-7cbd1cce6c9a"
CTBase = "54762871-cc72-4466-b8e8-f6c8b58076cd"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
HSL = "34c5aeac-e683-54a6-a0e9-6e0fdc586c50"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NLPModels = "a4795742-8479-5a88-8948-cc11e1c8c1a6"

[weakdeps]
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
JSON3 = "0f8b85d8-7281-11e9-16c2-39a750bddbf1"
MadNLP = "2621e9c9-9eb4-46b1-8089-e8c72242dfb6"
NLPModelsIpopt = "f4238b75-b362-5c4c-b852-0801c9a21d71"

[extensions]
CTDirectExt = ["JLD2", "JSON3"]
CTSolveExtIpopt = ["NLPModelsIpopt"]
CTSolveExtMadNLP = ["MadNLP"]

[compat]
ADNLPModels = "0.8"
CTBase = "0.14"
DocStringExtensions = "0.9"
HSL = "0.4"
JLD2 = "0.5"
JSON3 = "1"
MadNLP = "0.8"
NLPModels = "0.21"
NLPModelsIpopt = "0.10"
julia = "1.10"
