name = "CTDirect"
uuid = "790bbbee-bee9-49ee-8912-a9de031322d5"
authors = ["Olivier Cots <olivier.cots@enseeiht.fr>"]
version = "0.2.2"

[deps]
ADNLPModels = "54578032-b7ea-4c30-94aa-7cbd1cce6c9a"
CTBase = "54762871-cc72-4466-b8e8-f6c8b58076cd"
CTProblems = "45d9ea3f-a92f-411f-833f-222dd4fb9cd8"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
NLPModelsIpopt = "f4238b75-b362-5c4c-b852-0801c9a21d71"

[compat]
ADNLPModels = "0.5"
CTBase = "0.6"
DocStringExtensions = "0.9"
NLPModelsIpopt = "0.10"
julia = "1.8"
