name = "CTDirect"
uuid = "790bbbee-bee9-49ee-8912-a9de031322d5"
authors = ["Pierre Martinon <pierrecmartinon@gmail.com>", "Joseph Gergaud <joseph.gergaud@enseeiht.fr>", "Olivier Cots <olivier.cots@enseeiht.fr>"]
version = "0.14.4"

[deps]
ADNLPModels = "54578032-b7ea-4c30-94aa-7cbd1cce6c9a"
CTBase = "54762871-cc72-4466-b8e8-f6c8b58076cd"
CTModels = "34c4fa32-2049-4079-8329-de33c2a22e2d"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
HSL = "34c5aeac-e683-54a6-a0e9-6e0fdc586c50"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NLPModels = "a4795742-8479-5a88-8948-cc11e1c8c1a6"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[weakdeps]
MadNLP = "2621e9c9-9eb4-46b1-8089-e8c72242dfb6"
NLPModelsIpopt = "f4238b75-b362-5c4c-b852-0801c9a21d71"
NLPModelsKnitro = "bec4dd0d-7755-52d5-9a02-22f0ffc7efcb"

[extensions]
CTSolveExtIpopt = ["NLPModelsIpopt"]
CTSolveExtKnitro = ["NLPModelsKnitro"]
CTSolveExtMadNLP = ["MadNLP"]

[compat]
ADNLPModels = "0.8"
CTBase = "0.15"
CTModels = "0.2"
DocStringExtensions = "0.9"
HSL = "0.5"
MadNLP = "0.8"
NLPModels = "0.21"
NLPModelsIpopt = "0.10"
SparseArrays = "1.10"
SplitApplyCombine = "1.2"
julia = "1.10"

[extras]
MadNLP = "2621e9c9-9eb4-46b1-8089-e8c72242dfb6"
NLPModelsIpopt = "f4238b75-b362-5c4c-b852-0801c9a21d71"
SplitApplyCombine = "03a91e81-4c3e-53e1-a0a4-9c0c8f19dd66"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["MadNLP", "NLPModelsIpopt", "SplitApplyCombine", "Test"]

[workspace]
projects = ["test", "docs"]
