# [.github/workflows/CI.yml]
name: CI
on:
  push:
    branches:
      - main
      - develop
    tags: '*'
  pull_request:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
#    continue-on-error: true
    strategy:
      matrix:
        version:
#          - '1.8' fails due to some weird interpolation problem (knot vector error)
          - '1.9'
          - '1.10'
        os:
          - ubuntu-latest
          - macOS-latest
#          - windows-latest fails with ssh-agent error on windows slave
        arch:
          - x64
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/add-julia-registry@v1
        with:
          key: ${{ secrets.SSH_KEY }}
          registry: control-toolbox/ct-registry
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-uploadcodecov@latest
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
