name: CompatHelper
on:
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch:
jobs:
  call:
    uses: control-toolbox/CTActions/.github/workflows/compat-helper.yml@main
    with:
      subdirs: '["", "docs"]'
